{% extends "core/base.html" %}

{% block title %}IVOA SimDM webapp{% endblock %}

{% block content %}
<h1>IVOA SimDM webapp</h1>

<p>
    Pick one of the classes below to show the available records.
</p>
<ul>
    <li><a href="{% url 'prov_simdm:experiments' %}">Experiment</a> (~ Activity)</li>
    <li><a href="{% url 'prov_simdm:protocols' %}">Protocol</a> (~ ActivityDescription)</li>
    <li><a href="{% url 'prov_simdm:inputparameters' %}">Input Parameters</a> (~ ParameterDescription)</li>
    <li><a href="{% url 'prov_simdm:parametersettings' %}">Parameter Settings</a> (~ Parameter)</li>
    <li><a href="{% url 'prov_simdm:algorithms' %}">Algorithm</a></li>
</ul>

Forms: 
<ul>
    <li><a href="{% url 'prov_simdm:algo_form' %}">Algorithm Form</a> (Search for experiments based on applied algorithm)
    </li>
    <li><a href="{% url 'prov_simdm:dataset_form' %}">Dataset Form</a> (Search for datasets)
    </li>
</ul>

Serialisation, Graphs:
<ul>
    [to be done]
</ul>

{% endblock %}
