{% extends "core/base.html" %}

{% block title %}IVOA SimDM - Protocols{% endblock %}

{% block content %}
<h1>Protocols</h1>

<p>
Following protocols are recorded. In SimDM, one protocol usually corresponds to one code. 
Click on one of them to show the details.
</p>
{% if protocol_list %}
    <ul>
    {% for protocol in protocol_list %}
        <li><a href="{% url 'prov_simdm:protocol_detail' protocol.id %}">{{ protocol.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p class="notfound">No protocols are available.</p>
{% endif %}

{% endblock %}