{% extends "core/base.html" %}

{% block title %}Provenance webapp | Index{% endblock %}

{% block content %}
<h1>Provenance Web application</h1>
<h2>Implementing provenance data models using data from CosmoSim</h2>
<p>
    The CosmoSim database stores a number of cosmological simulations. 
    Read more about that project at <a href="https://www.cosmosim.org/" target="_blank">CosmoSim</a>.
</p>
<p>
    This is a simple webapp for displaying provenance information of the simulation data, using the <a href="https://www.djangoproject.com/">Django framework</a>
</p>
<p>
    The data were stored using different models, please pick one of them below:
</p>
<ul>
    <li><a href="{% url 'prov_w3c:index' %}">W3C PROV-DM</a></li>
    <li><a href="{% url 'prov_vo:index' %}">IVOA ProvenanceDM</a></li>
    <li><a href="{% url 'prov_simdm:index' %}">IVOA Simulation Data Model</a></li>
</ul>

</body>

{% endblock %}
