{% extends "core/base.html" %}

{% block title %}Details for an ActivityDescription{% endblock %}

{% block content %}

<h2>ActivityDescription: {{ activitydescription.label }}</h2>
Details: 
<ul>
<li>id: {{ activitydescription.id }}</li>
<li>label: {{ activitydescription.label }}</li>
<li>type: {{ activitydescription.dataproduct_type }}</li>
<li>subtype: {{ activitydescription.dataproduct_subtype }}</li>
<li>description: {{ activitydescription.description }}</li>
<li>docuLink: {{ activitydescription.docuLink }}</li>
</ul>

{% endblock %}