{% extends "core/base.html" %}

{% block title %}Details for an activity{% endblock %}

{% block content %}

<h2>Activity: {{ activity.label }}</h2>
<h3>Details</h3>
<ul>
<li>id: {{ activity.id }}</li>
<li>label: {{ activity.label }}</li>
<li>startTime: {{ activity.startTime }}</li>
<li>endTime: {{ activity.endTime }}</li>
<li>annotation: {{ activity.annotation }}</li>
<li>description: <a href="{% url 'prov_vo:activitydescription_detail' activity.description_id %}">{{ activity.description_id }}</a></li>
</ul>

{% endblock %}