{% extends "core/base.html" %}

{% block title %}Details for an EntityDescription{% endblock %}

{% block content %}

<h2>EntityDescription: {{ entitydescription.label }}</h2>
Details: 
<ul>
<li>id: {{ entitydescription.id }}</li>
<li>label: {{ entitydescription.label }}</li>
<li>description: {{ entitydescription.description }}</li>
<li>docuLink: {{ entitydescription.docuLink }}</li>
<li>dataproduct_type: {{ entitydescription.dataproduct_type }}</li>
<li>dataproduct_subtype: {{ entitydescription.dataproduct_subtype }}</li>
<li>level: {{ entitydescription.level }}</li>
</ul>

{% endblock %}