{% extends "core/base.html" %}

{% block title %}IVOA Provenance webapp{% endblock %}

{% block content %}
<h1>IVOA Provenance webapp</h1>

<p>
    Pick one of the classes below to show the available records.
</p>
<ul>
    <li><a href="{% url 'prov_vo:activities' %}">Activity</a></li>
    <li><a href="{% url 'prov_vo:activitydescriptions' %}">ActivityDescription</a></li>
    <li><a href="{% url 'prov_vo:entities' %}">Entity</a></li>
    <li><a href="{% url 'prov_vo:entitydescriptions' %}">EntityDescription</a></li>
    <li><a href="{% url 'prov_vo:agents' %}">Agent</a></li>
    <li><a href="{% url 'prov_vo:parameters' %}">Parameter</a></li>
    <li><a href="{% url 'prov_vo:parameterdescriptions' %}">ParameterDescription</a></li>
</ul>

<!--
<p>
    Choose one of the following links to explore more provenance graphs:
</p>
<ul>
    <li>Overview: <a href="{% url 'prov_vo:graph' %}">Graph</a> of the main workflow</li>
    <li>Overview: <a href="{% url 'prov_vo:provn' %}">Provn</a> representation</li>
</ul>
-->
{% endblock %}
